#one{
    border:1px solid;  
    background-color: lightgreen;
    padding: 24px;
  }
  #two{
    border:1px solid;  
    background-color: lightgreen;
    padding: 24px;
  }
  #three{
    border:1px solid;  
    background-color: lightgreen;
    padding: 24px;
  }
  #four{
    border:1px solid;  
    background-color: lightgreen;
    padding: 24px;
  }